body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}
